# sudo apt-get install git curl libsdl2-mixer-2.0-0 libsdl2-image-2.0-0 libsdl2-2.0-0

pygame
mutagen


buttonshim

# Bluetooth (I never got this working with volume control, perhaps you can)
# https://thecodeninja.net/2016/06/bluetooth-audio-receiver-a2dp-sink-with-raspberry-pi/
# https://askubuntu.com/questions/1020257/bluez5-cannot-connect-to-a-paired-bluetooth-device-on-ubuntu-17-10
# http://bluetooth-pentest.narod.ru/software/bluetooth_class_of_device-service_generator.html
# https://itectec.com/ubuntu/ubuntu-bluez5-cannot-connect-to-a-paired-bluetooth-device-on-ubuntu-17-10/
# https://gist.github.com/spmp/4be4b6c9754367cdb2da6cf60aad3da9
# pulseaudio-module-bluetooth
# bluez-tools
# pybluez

# https://gist.github.com/oleq/24e09112b07464acbda1
numpy
matplotlib
PyGObject
pyserial
pyudev